table {
    border-width: 1px;
    border-color: #1d2228;
    border-collapse: collapse;
    width: 90vw;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;    
}

thead, th {
background-color: #fb8122;
max-width: 90vw;
max-height: 40vh;
position: sticky;
top: 0;
text-align: center;
white-space: nowrap;
}

td {
    border-style: solid;
    border-width: 0.5px;
    border-collapse: collapse;
    text-align: center;
    white-space: nowrap;
}  

tbody {
    width: 79vw;
    height: 35vh;
    overflow: scroll;
    padding: 10vh, 10vw;
    }

.ProductCells{
    padding: 12px 18px 12px 18px;
    text-align: center;
}
.ProductTable{
    max-width: 95vw;
    max-height: 62vh;
    overflow: scroll;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: .70vw;
    position: relative;
}
.Buttons{
    margin-left: 2.5vw;
}
.Confirm{
height: 100%;
}
.Cancel{
height:100%;
}
#check{
    position: relative;
    width: 25px;
    height: 100%;
    cursor:pointer;
}
#checkButton{
    padding: 1.7px 24px 1.5px 8px;
    position: relative;
    width: 24.7px;
    top: 5.5px;
    height: 90%;
    border: none;
    color: green;
    background:none;
    outline: none;
    cursor:pointer;
}
#errors{
    color: red;
    font-size: 14px;
}
#X{
    position: relative;
    vertical-align: auto;
    padding: 1.7px 8px 1.5px 8px;
    font-weight: bold;
    font-size: 24.7px;
    height: 90%;
    border:none;
    color: red;
    background: none;
    outline:none;
    cursor: pointer;
}
.editbutton{
    width: 100%;
    border: none;
    padding: 1px;
    background:none;
    outline: none;
    cursor: pointer;
}
.editIcon{
    border: none;
    background:none;
    outline: none;
    width: 100px;
    height: 30px; 
    cursor: pointer;

}
#activeView{
    padding: 12px 28px 12px 28px;
    text-align: center;
}
#demographicView{
    padding: 12px 28px 12px 28px;
    text-align: center;
}
.createButton, .promoButton{
    background: #666666;
    border-radius: 20px;
    color: #EEEEEE;
    cursor: pointer;
    font-weight: 600px;
    height: 3em;
    justify-self: center;
    width: 10em;
    position: static;
}
.error{
    border-width: 2px;
    height: 34.3px;
    border-color: red !important;
}
.editable {
    border-width: 2px;
    height: 34.3px;
    border-color: #fb8122 !important;
}
.Maintenance{
    margin-top: 100px;
}
.deleteButton{
    border-style: none;
    cursor: pointer;
}