.maintenanceModalBackground{
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.maintenanceDeleteModal{
    display: flex;
    height:500px;
    width: 500px;
    border-radius: 0.5em;
    background-color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.maintenanceDeleteModal-content{
    display:flex;
    flex-direction: column;
    flex:1;
    max-height: 100%;
    margin:10px;
    color: #1d2228;
}
.maintenanceCloseButton {
    background-color: transparent;
    position: absolute;
    font-size: 1.5em;
    right:10px;
    top:10px;
    color: #1d2228;
    border: none;
    border-radius: 10px;
}
.closeButton:hover {
    background-color: rgba(0,0,0,0.1);
}

.maintenanceDeleteModal-header{
    flex:2 1 50%;
    height: 50%;
    text-align: center;
    display: flex;
    font-size: 120%;
}

.maintenanceModal-body{
    flex: 1 1 60%;
    display: flex;
    height: 60%;
    flex-direction: column;
    text-align: center;
}

.maintenanceModal-footer{
    display:flex;
    flex-direction: row;
    flex: 1 1 50px;
    margin-top: auto;
    max-height: 50px;
    justify-content: center;
}
