.listDiv{
    align-items: center;
    align-self: center;
}
.error_item{
  color:red;
  margin:3px 0px 0px 0px;
}

.edit {
    left: 10em;
    top: 1em;
    z-index: 3;
}
.submit{
    bottom: 25.3em;
    left: 12em;
}

.input{
    margin:auto
}
.inputError {
  border: 1px solid red;
  margin:auto
}

.paragraph {
    margin:22px 0px 0px 0px;
}

li{
    flex-direction: row;
    width: 400px;
}

.headerShipping{
display: inline-block;
position: relative;
text-align: center;
padding:2px 1.25em 0px;
border-bottom: 5px solid #FB8122;
border-radius: 5%;
width: 150px;
}

.headerName{
    display: inline-block;
    text-align: center;
    padding:2px 1.25em 0px;
    position: relative;
    border-radius: 5%;
    border-bottom: 5px solid #FB8122;
    width: 150px;
}

.userInfo{
    position: relative;
    margin-bottom: 4em;
    font-size: large;
    flex: 1 1 90%;
    color: #1d2228;
    width: 400px;
    height: 6em;
    margin-left: 10.7em;
}

.profile{
    position:relative;
    overflow: auto;
    flex: 1 1 5%;
    flex-direction: column;
    height: 80%;
    top: 70px;
    display: flex;
}

.tabs{
    background-color: #1d2228;
    border: 1px solid;
    color: #FB8122;
    display: block;
    font-size: 1em;
    height: 2.5em;
    width: 8em;
}

.ui {
    flex: 1 1 20%;
    max-height: 8em;
    min-height: 8em;
    display:flex;
    align-items: center;
    justify-content: center;
}

.content{
    flex: 1 1 70%;
    margin-bottom:20em;
    padding-bottom: 8em;
}

.buttons {
    display:flex;
    min-width:30em;
}

.profileButton{
    flex: 1 1 40%;
    font-size:large;
    height:4em;
    width:12em;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top:none;
}

.purchaseHistory{
    border-left:none;
}

.profileButton:hover{
    background-color: rgba(0,0,0,0.1);
}

.active:hover{
    background-color:rgba(251, 129, 34, 0.9)
}

.active{
    background-color: #FB8122;
}

.userInfodiv{
flex-direction: column;
    display: flex;
    align-self: center;
    align-items: center;
    height: 8em;
}

.purchases{
    position: relative;
    flex-direction: column;
    left:28%;
    width: 45%;
    display:flex;
    border-top: 4px solid black;
    background-color: #1d2228;
    color:#e1e2e2;
    min-width: 25em;
}

.purchase{
    flex: 1;
    flex-direction: column;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;;
}

.purchaseOpen{
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

.orderInfo{
    flex: 1 1 75%;
    display: flex;
}

.orderId{
    flex: 1 1 20%;
    text-align: center;
    margin-left: 0.7em;
}

.purchaseTotal{
    text-align: center;
    flex: 1 1 35%;
}

.orderDate{
    text-align: center;
    flex: 1 1 40%;
}

.productsCollapsibleBtn{
    margin-left: auto;
    border: 0px;
    background-color: #1d2228;
    color:#e1e2e2;
}

.productsCollapsibleBtn:hover{
    background-color: rgba(0,0,0,0.1);
}

.productsCollapsible{
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
}

.closed{
    display: none;
}

.purchaseItem{
    display: flex;
    flex-direction: row;
    border-top: 2px solid gray;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.productName{
    flex: 1 1 40%;
    margin-left: 4em;
    font-weight: 100;
    font-size: 100%;
    border: none;
    width: 100%;
    text-align: left;
}

.productQuantity{
    flex: 1 1 5%;
    text-align: center;
    font-weight: 100;
}

.productPrice{
    flex: 1 1 5%;
    margin-left: 1em;
    margin-right: 3em;
    text-align: center;
    font-weight: 100;
}

.stopOverflow{
    margin-top: 2em;
    margin-bottom: 2em;
}