table {
    border-width: 1px;
    border-color: #1d2228;
    border-collapse: collapse;
    width: 90vw;
    height: 35vh;
    margin-left: auto;
    margin-right: auto;    
}

thead, th {
background-color: #5350ee;
color: rgb(245, 244, 244);
max-width: 90vw;
max-height: 40vh;
position: sticky;
top: 0;
text-align: center;
white-space: nowrap;
}

td {
    background-color: rgb(221, 217, 243);
    border-style: solid;
    border-width: 1.5px;
    border-collapse: collapse;
    text-align: center;
    white-space: nowrap;
}  

tbody {
    width: 79vw;
    height: 35vh;
    overflow: scroll;
    padding: 10vh, 10vw;
}

.createPatientInput{
  position: relative;
  padding: 5px 10px 5px 10px;
  width: 15%;
}
.table{
    min-height: 70vh;
    position: relative;
    padding: 5px, 5px, 5px, 5px;
    top: 115px;
  }

.errors{
  color: red;
  padding: 6px, 4px,6px,4px;
}
.conflictError{
  position: absolute;
  color: red;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  text-size-adjust: small;
} 

#reservationsTable{
  position: relative;
  top: 25px;
  left: 25px;
  margin-left: auto;
  margin-right: auto;
}
.createRoomInput{
  position: relative;
  top: 200px;
  padding: 5px 10px 5px 10px;
  width: 15%;
}

.tableCells{
    padding: 12px 18px 12px 18px;
    text-align: center;
}
.patientsDetails{
  left: 1em;
  margin-bottom: 250px;
  position: relative;
  padding: 5px 10px 5px 10px;
}
.editPatient{
  width: 15%;
}
#detailsButton{
  color: #4e5152;
}
#deleteButton{
  background: none;
  color: #4e5152;
}
.Delete{
  background: none;
  background-color: none;
  border: none;
  cursor: pointer;
}
h1 {
  display: block;
  width: 300px;
  font-size: 2.17em;
  font-weight: bold;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
#editPatientButton{
  background: none;
  flex-direction: row;
  border: none;
  color: #3e4ad4;
  cursor: pointer;
}
#editPatient{
  margin-top: 15px;
  margin-left: 10px;
}
#cancelEditButton{
  background: none;
  border: none;
  color: #3e4ad4;
  margin-left: 6px;
  cursor: pointer;
}

#editEncounterButton{
  background: none;
  flex-direction: row;
  border: none;
  color: #3e4ad4;
  cursor: pointer;
}
#editEncounter{
  margin-right: 25px;
}
#cancelEditButton{
  background: none;
  border: none;
  color: #3e4ad4;
  margin-left: 6px;
  cursor: pointer;
}