.createReview {
    /* width: 100%; */
    width: 460px;
    max-width: 460px;
    height: fit-content;
}

.input {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
    margin-top: .5em;
    width: 95%;
    height: 30px;
    padding: .5em;
    box-sizing: border-box;
}
.inputTextArea{
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
    margin-top: .5em;
    width: 95%;
    height: 90px;
    padding: .5em;
    box-sizing: border-box;
}

.labelContents {
    display:inline-flex;
}

.count {
    font-size: 14px;
    margin-left: 18em;
}

.commentCount {
    font-size: 14px;
    margin-left: 15em;
}

.titleCount {
    margin-left: 19em;
}

/******************************
Errors
*/
.countErrorTitle {
    font-size: smaller;
    margin-left: 13em;
    color:red;
}

.countErrorComment {
    font-size: smaller;
    margin-left: 9em;
    color:red;
}

.error_item {
    color:red;
    /* margin:3px 0px 0px 0px; */
    /* width: 120%; */
}

.inputError {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
    margin-top: .5em;
    width: 95%;
    height: 30px;
    padding: .5em;
    box-sizing: border-box;
    border: 1px solid red;
}

.inputErrorTA {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
    margin-top: .5em;
    width: 95%;
    height: 90px;
    padding: .5em;
    box-sizing: border-box;
    border: 1px solid red;
}
