.sidebar, .sideCollapsed{
    background-color: #fb8122;
    box-sizing: border-box;
    color:#e1e2e2;
    height:100%;
    padding-bottom:15px;
    position: fixed;
    width:185px;
    left:0;
    top: 70px;
    transition: left 500ms;
    
}

.sideCollapsed{
    left:-175px;
}

.filterCheckbox{
    background-color: #fb8122;
    border: 1px solid #e1e2e2;
    box-sizing: border-box;
    color: #E1E2E2;
    font-size:1rem;
    height:85%;
    padding:7% 0%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
  
.filterTitle{
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 7%;
}
.fieldset{
    border:none;
    font-size: .9rem;
    width: 150px;
    padding: 2% 8%;
}

.checkBoxLabel{
    font-weight: bold;
    padding-left:10%;
}

.priceInput{
    width: 30%;
}
.priceButtons{
    width: 25%;
}
#priceError{
    color: red;
    font-size: 14px;
    margin: 0px 2px 4px 4px;
}
