.footer {
    align-items: center;
    background-color: #1D2228; 
    color: #E1E2E2;
    display: flex;
    flex-direction: column;
    height:7vh;
    justify-content:center;
    margin-top:10vh;
    width: 100%; 
    z-index: 3;
  }