.productCardModalBackground{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
}
.productCardModal{
    display: flex;
    height:500px;
    width: 500px;
    border-radius: 0.5em;
    background-color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.productCardModal-content{
    display:flex;
    flex:1;
    flex-direction: column;
    max-height: 100%;
    margin:10px;
    color: #1d2228;
}
.closeButton {
    background-color: transparent;
    position: absolute;
    font-size: 1.5em;
    right:10px;
    top:3px;
    color: #1d2228;
    border: none;
    border-radius: 10px;
}
.closeButton:hover {
    background-color: rgba(0,0,0,0.1);
}

.productCardModal-header{
    flex:1 1 50%;
    height: 50%;
    text-align: center;
    display: flex;
}
.productCardModalImg{
    height: 100%;
    margin: auto;
}
.ModalImg {
    width:100%;
    height:100%;
    object-fit: contain;
    margin: auto;
}
.productCardModal-body{
    flex: 1 1 60%;
    display: flex;
    height: 60%;
    flex-direction: column;
    text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
    flex: 1 1 30%;
}
.productCardModal-title{
    display:inline-block;
    width: 40%;
    margin-right: auto;
    margin-top: 1em;
}
.productCardPrice{
    display:inline-block;
    width: 40%;
    margin-left: auto;
    margin-top: 1em;
}
.productCardDescription{
    display:inline-block;
    width: 40%;
    margin-right: auto;
    margin-top: 1em;
}
.productCardColors{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 1em;
    margin-left: auto;
    margin-right:3em;
    width:40%;
}
.productCardPrimaryColor{
    height: 1em;
    width: 1em;
    display: inline-block;
    border: 0.5px solid black;
    margin-left: 1em;
}
.productCardSecondaryColor{
    height: 1em;
    width: 1em;
    display: inline-block;
    border: 0.5px solid black;
    margin-left: 1em;
}
.productCardCategory{
    width: 40%;
    display:inline-block;
    margin-right: auto;
    margin-top: 1em;
}
.productCardType{
    width: 40%;
    display:inline-block;
    margin-right: 0.5em;
    margin-left: auto;
    margin-top: 1em;
}
.productCardModal-footer{
    display:flex;
    flex-direction: row;
    flex: 1 1 50px;
    margin-top: auto;
    max-height: 50px;
    margin-left:73px;
}

.quantityPicker{
    display:inline-flex;
    align-items: center;
    margin-left: 14%;
}
.quantityInput{
    border: 0.5px solid black;
    border-right: none;
    border-top: none;
    border-left: none;
    width: 35px;
    margin-left: 0.2em;
    margin-right: 0.2em;
    text-align: center;
}
.addToCart{
    display: inline-flex;
}
.raiseQuantity{
    width:1.5em;
}
.raiseQuantityBtn{
    font-size: 1.5em;
    border-radius: 10px;
    background-color: transparent;
    border:none;
}
.raiseQuantityBtn:hover{
    background-color: rgba(0,0,0,0.1);
}
.lowerQuantity{
    width: 1.5em;
}
.lowerQuantityBtn{
    font-size: 1.5em;
    border-radius: 10px;
    background-color: transparent;
    border:none;
}
.productModalReviews {
    position: relative;
    left: 3%;
    top: 25%;
    cursor: pointer;
}
.productReviewCounter{
    position: relative;
    left: 37%;
    top: 25%;
}
.lowerQuantityBtn:hover{
    background-color: rgba(0,0,0,0.1);
}
/* remove arrows from input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
}