.reviewsApiError{
    color: red;
    font-size: 1.5em;
}
.reviewsProductCardButton{
    position: relative;
    right: 1%; 
    color: #E1E2E2;
    cursor: pointer;

    
}
.reviewCounter {
position: relative;
right: 0%;
margin-bottom: 1%;
    
}
.reviewsModalBackground{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
}
.reviewsModal{
    display: flex;
    height:500px;
    width: 500px;
    border-radius: 0.5em;
    background-color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.reviewsModal-content{
    /* display:flex-end; */
    flex-direction: column;
    flex:1;
    position: relative;
    max-height: 100%;
    margin:10px;
    color: #1d2228;
    overflow-x: hidden;
    overflow-y: auto;
}
.reviewscloseButton {
    background-color: transparent;
    position: fixed;
    font-size: 1.5em;
    right:25px;
    top:5px;
    color: #1d2228;
    border: none;
    border-radius: 10px;
}
.closeButton:hover {
    background-color: rgba(0,0,0,0.1);
}
.reviewsModal-header{
    background-color: white;
    flex:2 1 50%;
    height:fit-content;
    text-align: center;
    position: fixed;
    /* display: flex; */
    font-size: 120%;
    z-index: 10;
}
.productNameReviewModal{
    font-size: 175%;
    margin: 0;
    align-items:center;
    width: 460px;
}
.reviewModalButtons{
    text-align: left;
}
.btnSubmitDeleteReview{
    margin:0 2%;
}
.btnSubmitEditReview{
    margin:0 2%;
}
.btnDummy{
    margin:0 2%;
    visibility: hidden;
}
.icons{
    margin-left: auto;
    margin-right: 15px;
}
.deleteIcon{
    width:1em;
    height:1em;
    margin-left:1em;
}
.pencilIcon{
    width:20px;
    height:20px;
    margin-left:1em;
  }
  .pencilIcon:hover, .deleteIcon:hover{
    color: rgb(65, 65, 65);
  }
  .trashIcon{
    width:20px;
    height:20px;
    margin-left:1em;
    position: relative;
    top: 2px;
  }
  .trashIcon:hover{
    color: rgb(65, 65, 65);
  }
.productName{
    font-size: 200%;
    border: none;
    width: 91%;
    text-align:left;
}
.reviewsOrderButton{
    width: 20%;
    margin: 1% 2%;
}
.reviewsTitle, .reviewsProductName{
    font-size: 140%;
    margin: 2%;
    padding:5px;
    min-width:12em;
    max-width: 12em;
    overflow-wrap: break-word;
}
.reviewsProductName{
    font-size: 170%;
    margin: 2% 0;
    text-align:left;
    padding: 0 7% 0 2%;
}
.reviewsOfProduct{
    bottom: 40%;
    text-align: left;
    margin-bottom: none;

}
.reviewsEmail{
    margin: 2%;
}
.reviewsRating{
    margin: 2%;
}
.reviewsActual{
    margin: 2%;
    padding:5px;
}
.reviewsDate{
    margin: 1% 2%;
    padding: 5px;
}
.reviewsDescription{
    margin: 2%;
    padding:5px;
    max-width: 27em;
    overflow-wrap: anywhere;
}
.reviewsModal-body{
    /* flex: 1 1 60%; */
    /* inline-size: min-content; */
    /* position: relative; */
    top: 30%;
    overflow: hidden;
    display: flex;
    height:auto;
    width:100%;
    flex-direction:column;
    text-align: center;
    /* margin-top: 10px; */
    overflow:  auto;
   
}
.reversed{
    flex-direction: column-reverse;
}
.row{
    display: flex;
    flex-direction: row;
    flex: 1 1 30%;
}
.reviewsModal-title{
    width: 40%;
    height: 30%;
    margin-right: auto;
    margin-top: 1em;
}

.reviewsModal-footer{
    display:flex;
    flex-direction: row;
    flex: 1 1 50px;
    margin-top: auto;
    max-height: 50px;
    justify-content: center;
}
.createReview {
    margin-top: 125px;
}
.starRating{
    color:white;
}
.titleContainer{
    display:flex;
    flex-direction: row;
    align-items:center;
    gap:5px;
}


/* remove arrows from input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
}
.createReview {
    width: 50%;
}

.addReviewsProductCardButton:hover {
    color: white;
    background-color: #1D2228;
    /* color: #E1E2E2 */
    /* position: relative; */
    left: 5%;
    width: 136px;
}
.InWishList{
    color: orange;
}

.review-menu {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 15%;
}
.editableField{
    border: 2px solid gray;
}
.redBorder{
    border: 2px solid red;
}
.hidden{
    display: none;
}
.red{
    color:red;
}
.reviewsModalBackgroundBlocker{
    position: fixed;
    height: 100%;
    width: 100%;
}
.gray {
    color: gray;
}
/* .reviewStuff{
    display: inline-flex;
    position: relative;
    left: 10%;
    justify-content: space-between;
} */
