

 body {
  margin: 0;
  margin-top: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #aab6f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  display: block;
  width: 300px;
  font-size: 2.17em;
  font-weight: bold;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h2 {
  color:crimson;
  display: block;
  width: 1500px;
  font-size: 2em;
  font-weight: bold;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h3{
  color: rgb(62, 4, 133);
  display: block;
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.footer {
  align-items: center;
  color: #E1E2E2;
  display: flex;
  flex-direction: column;
  height:7vh;
  justify-content:center;
  margin-top:10vh;
  width: 100%; 
}

.header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  background-color: #23282a;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 25px;
  padding-bottom: 25px;
}

#root{
  background-color: #aab6f8;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  min-height: 100vh;
}


.btnTemp{
  background-color: white;
  color:blue;
  height:50px;
  text-align: center;
  width:100px;
}
#patientImg{
  width: 35%;
  float: right;
  justify-content: end;
}
#headerText{
  padding: 1%;
  text-align: center;
  font-size: 2.2em;
  font-weight: bold;
}
#homeText{
  padding: 1%;
  padding-left: 1em;
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
}
#contactText{
  padding: 1%;
  padding-left: 5em;
  padding-top: 16em;
  text-align: right;
  width: 50%;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: none;
  font-size: 20px;
  font-weight: bold;
}
#patientImgDiv{
  display: flex;
  margin-bottom: auto;
  margin-right: auto;
  align-items: top;
  justify-content: end;
}
#home{
  padding: 25px, 25px, 25px, 25px;
  color: #5865f2;
}
#patient{
  padding: 25px, 25px, 25px, 25px;
  color: #5865f2;
}
#title{
  padding: 25px, 25px, 25px, 25px;
  color: white;
  font-size: 300%;
}
#pageInfo{
  text-align: center;
  padding-right: 6%;
  font-size: 50px;
}
.pageHeader{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#addPatient{
  margin-bottom: 50px;
  flex-direction: row;
  margin-left: 25px;
  padding: 25px, 25px, 25px, 25px;
  color: #3e4ad4;
}
#addEncounter{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  flex-direction: row;
  padding: 25px, 25px, 25px, 25px;
  color: #3e4ad4;
}
.form{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.submit{
  background: #3b3b3b;
  border-radius: 20px;
  color: #EEEEEE;
  cursor: pointer;
  height: 3em;
  justify-self: center;
  width: 15em;
}
#doctorImg{
  width: 100%;
}