.checkoutContainer {
  margin-top: 100px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "order    delivery    payment"
    "order    delivery    summary"
    "order    delivery    payNow";
  gap: 1em 2em;
  padding: 0 2em;
  margin: 100px 0 2em;
  overflow-x: auto;
}

.delivery {
  grid-area: delivery;
}

.order {
  grid-area: order;
  min-width: 300px;
}

.payment {
  grid-area: payment;
}
#root{
  color: blue;
}
.payNow {
  grid-area: payNow;
  display:grid;
}

.payButton {
  background: #666666;
  border-radius: 20px;
  color: #EEEEEE;
  cursor: pointer;
  font-weight: 600px;
  height: 3em;
  justify-self: center;
  width: 75%;
}

.step {
  background: #fff;
  border-radius: 2px;
  box-shadow: .2em .2em .2em rgba(0,0,0,0.23);
  padding: 1em;
}

.summary {
  grid-area: summary;
}

.title {
  text-transform: uppercase;
  color: #666666;
  margin: 0 0 1em 0;
}

.useSameAddress {
  display: inline-block;
  margin: 1em 1em 0 0;
}

.sameAddressText {
  color: #666666;
  font-weight: 700;
}