.subtotal {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.price {
  justify-self: end;
}

.returnProductLink {
  color: #FB8122;
}

.promoDiscount {
justify-self: end;
}

.success {
  flex: auto;
  margin-left: .5em;
  box-sizing:border-box;
  border: 1px solid green;
  margin-top:.94em;
  font-size:16px
}

.orderDiv {
  display: flex;
  align-items:center;
  flex-wrap:nowrap;
}

.input {
  flex: auto;
  margin-left: .5em;
  box-sizing:border-box;
  border: 1px solid black;
  margin-top:.94em;
  margin-right:3em;
  font-size:16px
}

.inputError {
  margin-left: .5em;
  border:1px solid red;
  margin-top:.94em;
  font-size:16px
}
.error_item {
  color: red;
    margin-top: 0em;
    margin-left: 6.9em;
    margin-bottom: -0.2em;
    font-size: 14px;
}

.label {
  min-width: 5.5em;
  color: #666666;
  margin-top:1em;
}

.check {
margin-top:.55em;
margin-left:0.1em
}



